<footer class="footer">
	<div class="w100 accordion text-center padding-l-10 padding-r-10" id="accordion-termos">
		<div class="underline pointer color-disabled" data-toggle="collapse" data-toggle="collapse" data-target="#collpase-termos" aria-expanded="true" aria-controls="collpase-termos"> Todos os direitos reservados. Termos de Uso</div>
		<div class="block-body collapse" id="collpase-termos" class="" aria-labelledby="Termos de Uso" data-parent="#accordion-termos">
			Sistema educativo desenvolvido para teste de estratégias, siga sempre as recomendações e regras da sua corretora.
		</div>
	</div>
</footer>
</body>
</html>