<div class="sidenav-menu d-none d-sm-flex col-md-1-9 padding-r-0 padding-l-0 <%= usuario.nivel == 2 ? 'background_trader' : 'white' %>">
	<%- include('menu_items'); %>
</div>




<!-- 2 째 vers찾o menu -->
<!-- <div class="sidenav-menu d-none d-sm-flex primary col-md-1 padding-r-0 padding-l-0">
	
	<a class="sidenav-item f18 border-right-primary border-bottom-primary ajax-load nav-link primary-text-contrast <%#= data.numero_menu == 1 ? 'secondary' : ''%>" href="/sistema">
		<div class="sidenav-container">
			<i class="fas fa-home f36"></i>
			<div class="text-center">Home</div>
		</div>
		<div class="sidenav-linha-divisoria"></div>
	</a>


	<a class="sidenav-item f18 border-right-primary border-bottom-primary ajax-load nav-link primary-text-contrast <%#= data.numero_menu == 2 ? 'secondary' : ''%>" href="/sistema/minha_conta">
		<div class="sidenav-container">
			<i class="fas fa-user-cog f36"></i>
			<div class="text-center">Minha Conta</div>
		</div>
		<div class="sidenav-linha-divisoria"></div>
	</a>


	<a class="sidenav-item f18 border-right-primary border-bottom-primary ajax-load nav-link <%#= data.numero_menu == 3 ? 'secondary' : ''%>" href="/sistema/historico">
		<div class="sidenav-container">
			<i class="fas fa-file-pdf f36"></i>
			<div>Hist처rico</div>
		</div>
		<div class="sidenav-linha-divisoria"></div>
	</a>


	<a class="sidenav-item f18 border-right-primary border-bottom-primary ajax-load nav-link" href="/sistema">
		<div class="sidenav-container">
			<i class="fab fa-telegram-plane f36"></i>
			<div>Suporte</div>
		</div>
		<div class="sidenav-linha-divisoria"></div>
	</a>

	<a class="sidenav-item f18 border-right-primary border-bottom-primary ajax-load nav-link <%#= data.numero_menu == 5 ? 'secondary' : ''%>" href="/sistema/recarga">
		<div class="sidenav-container">
			<i class="fas fa-piggy-bank f36"></i>
			<div>Recarga</div>
		</div>
	</a>
</div>
-->



<!-- <nav class="w20 sidenav-menu h100  d-none d-sm-flex">
	<ul class="nav w100 h100">
		<li class="nav-item w100 text-center f25 border-right-primary border-bottom-primary h25"> 
			<a class="ajax-load nav-link" href="/sistema" style="margin-top:65px;">
				Minha Conta
			</a>
		</li>
		<li class="nav-item w100 text-center f25 border-right-primary border-bottom-primary h25">
			<a class="ajax-load nav-link" href="/sistema" style="margin-top:65px;">
				Hist처rico
			</a>
		</li>
		<li class="nav-item w100 text-center f25 border-right-primary border-bottom-primary h25">
			<a class="ajax-load nav-link" href="/sistema" style="margin-top:65px;">
				Suporte <i class="fab fa-telegram black-text"></i>
			</a>
		</li>
		<li class="nav-item w100 text-center f25 border-right-primary h25">
			<a class="ajax-load nav-link" style="margin-top:50px;">
				<img class="w90" src="/public/images/promocao_faixa.png">
			</a>
		</li>


	</ul>
</nav> -->