<%- include('../includes/menu_header'); %>

<% if(usuario.nivel == 2){%>
<div class="container">
	<div class="main-page col-sm-12 col-md-11">
		<div class="margin-t-10">
			<div class="row col-sm-12 col-md-12 card">
				<div class="f25 black-text border-bottom-grey padding-b-10 margin-t-10">Log
					<a title="Atualizar página" class="btn primary float-right ajax-load" href="/sistema/log_trader">Atualizar</a>
				</div>

				<div class="">

				</div>


				<div class="margin-t-10 Limite">

					<% if (typeof data.mensagem != 'undefined' && data.mensagem.length > 0) {
						for (var i = 0; i < data.mensagem.length; i++) {%>
						<div class="alert <%=
						data.mensagem[i].tipo_mensagem == 1 ? 'alert-success' : data.mensagem[i].tipo_mensagem == 2 ? 'alert-warning' : 'alert-danger' %> alert-dismissible fade show" role="alert">
						<%= data.mensagem[i].descricao_mensagem %>
					</div>
					<%}
				}else{%>
				<div class="text-center">Não há nenhuma mensagem no momento.</div>

				<%}%>


			</div>

		</div>
	</div>
</div>

<%}else{%>
<div class="container">
	<div class="main-page col-sm-12">
		<div class="alert alert-warning">
			Você não pode acessar essa página!
		</div>
	</div>
</div>


<%}%>