<%- include('../includes/menu_header'); %>

<% if(usuario.nivel == 2){%>
<div class="page-content">

	<div class="page-header">
		<div class="container-fluid">
			<h2 class="h5 no-margin-bottom">Log</h2>
		</div>
	</div>


	<div class="container-fluid">

		<section class="no-padding-bottom">
			<div class="container-fluid">
				<div class="block margin-b-0">
					<form method="POST" action="" enctype="multipart/form-data">
						<div class="title">
							<strong class="d-block">Log
								<button type="button" class="btn transparent float-right w100px ajax-load" data-action="/sistema">Atualizar</button>
							</strong>
						</div>

					</form>

					<div class="block-body">
						<% if (typeof data[usuario.id +'_mensagem'] != 'undefined' && data[usuario.id +'_mensagem'].length > 0) {
							for (var i = 0; i < data[usuario.id +'_mensagem'].length; i++) {%>
							<div class="alert <%=
							data[usuario.id +'_mensagem'][i].tipo_mensagem == 1 ? 'sucess-block' : data[usuario.id +'_mensagem'][i].tipo_mensagem == 2 ? 'warning-block' : 'error-block' %> alert-dismissible fade show" role="alert">
							<%= data[usuario.id +'_mensagem_horario'][i]%><%= data[usuario.id +'_mensagem'][i].descricao_mensagem %>
						</div>
						<%}
					}else{%>
					<div class="text-center">Não há nenhum log no momento.</div>

					<%}%>
				</div>

			</div>
		</div>

	</section>
</div>
</div>


<%}else{%>
<div class="page-content">
	<div class="container-fluid">
		<div class="alert error-block margin-t-10">
			Você não pode acessar essa página!
		</div>
	</div>
</div>


<%}%>