

<div class="padding-10">
	<h5>Conectar Todas Contas</h5>

	<div class="margin-b-10">

		Você tem certeza que deseja conectar todas as contas?

	</div>

	<form method="POST" action="" enctype="multipart/form-data">

		<div class="modal-footer">

			<button class="btn btn_modal btn_modal_close margin-r-10 pointer" data-dismiss="modal">Não</button>

			<button type="button" data-href="/sistema/contas/conectar-todas-contas-popup" class="btn btn-primary ajax-submit" title="Sim" data-action="/sistema/contas" data-dismiss="modal">Sim</button>
		</div>
	</form>

</div>
