$primary-color:#2d3035;
$secondary-color:#8a8d93;

.block {
	background: $primary-color;
	color: $secondary-color;
}

.block-color{
	color: $primary-color;
}

.page-header {
	background: $primary-color;
	color: $secondary-color;
}

.dropdown-menu {
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
	color: $secondary-color;
	background: $primary-color;
	border: 1px solid #393c43;
}

.dropdown-menu a:hover {
	background: #DB6574;
	color: #fff;
}

.login-page .form-holder .form {
	background: $primary-color;
}

.modal-open .modal .modal-header,
.modal-open .modal .modal-footer {
	border-color: #3d4148;
}

.modal-open .modal .modal-content {
	border-radius: 0;
	background: $primary-color;
}

.modal-open .modal .close {
	color: $secondary-color;
	opacity: 1;
}

.page-content {
	background: #131417;
}

nav.navbar {
	background: $primary-color;
	color: $secondary-color;
	border-bottom: 1px solid #34373d;
}

nav.navbar .sidebar-toggle {
	background: #282b2f;
	color: $secondary-color;
	border: 2px solid #3d4148;
}

nav#sidebar {
	background: $primary-color;
	color: #6a6c70;
	border-right: 1px solid #34373d;
	/* shrinked navbar */
}

nav#sidebar li.active > a {
	background: #34373d;
	color: #bfc1c4;
}

nav#sidebar li a:hover {
	background: #34373d;
}

nav#sidebar li li a {
	background: #22252a;
}

nav#sidebar li li a:hover {
	background: #292c32;
}

.table td,
.table th {
	border-color: #343a40;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #282b2f;
}

.table-striped tbody tr:nth-of-type(odd):hover {
	background-color: #26292d;
}

.public-user-block .contributions {
	background: #26292d;
}

.form-control {
	border: 1px solid #444951;
	color: #afafaf;
	background: #505358;
}

.sucess-block{
	background: #8af953a6;
	color: #fff;
}

.warning-block{
	background: #f7d350a6;
	color: #fff;
}

.error-block{
	background: #d44658a6;
	color: #fff;
}

.dashtext-2 {
	color: #8af953 !important;
}

.checkbox-template::before,
.radio-template::before {
	background: #8a8d93;
}

.checkbox-template:disabled::before,
.radio-template:disabled::before {
	border-color: rgba(118, 118, 118, 0.3);
	cursor: default;
	background:#4a4a4a;
}

.checkbox-template:disabled::after, 
.radio-template:disabled::after{
	cursor: default;
}

.radio-template:disabled:checked::after{
	background:#929292;
}

.checkbox-template:disabled:checked::after{
	color:#929292;
}

nav#sidebar a[aria-expanded="true"] {
	background: #34373d;
}

.footer{
	background:$primary-color;
}

.form-control:disabled, .form-control[readonly] {
	border: 1px solid #4a4a4a;
	background: none;
	color: #545454;
}

.form-control:focus {
	color: #afafaf;
	border-color: #DB6574;
	background: #505358;
	outline: none;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(219, 101, 116, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(219, 101, 116, 0.25);
}

.form-control::placeholder {
	color: #afafaf;
}

.form-control:-ms-input-placeholder {
	color: #afafaf;
}

.form-control::-ms-input-placeholder { 
	color: #afafaf;
}

.color-disabled{
	color: #545454!important;
}


.total_operacoes_color{
	color: #bfc1c4;
}

.total_operacoes_color_n{
	color: #bfc1c4;
}


.numero_acertos_color{
	color:#bfc1c4;
}
.numero_acertos_color_n{
	color: #bfc1c4;
}

.block-border-bottom{
	border-bottom: 1px solid #505358;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing, 
.dataTables_wrapper .dataTables_paginate{
	color: #8a8d93;
}

.login-page input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #2d3035 inset;
	-webkit-text-fill-color: #8a8d93;
}

.login-page input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 50px #2d3035 inset;
	-webkit-text-fill-color: #8a8d93;
}

.login-page input {
	filter: none;
}

.error_border{
	border: 1px solid #d44658a6;
}

.error_text_color{
	color: #d44658;
}

.loader .text-center{
	color: #000;
}

.sucess-block-link-color{
	color: #172f0b;

	&:hover{
		color:#fff;
	}
}

.welcome-box{
	background:#8a8d93;
	color:#000;

	h1{
		color:#fff;
	}

	.number-bigger{
		font-weight:bold;
		font-size:1.3rem;
		color:#fff;
	}

}


.btn-success-color{
	background:#8af953;

	&:hover{
		background:#4bab1c;
	}

	&:focus{
		-webkit-box-shadow: 0 0 0 0.2rem rgba(138,249,83,0.25);
		box-shadow: 0 0 0 0.2rem rgba(138,249,83,0.25);
	}

}

.sucess-block-trader-color{
	border:1px solid #8af953;
}

::-webkit-calendar-picker-indicator{
	filter: invert(72%) sepia(43%) saturate(5216%) hue-rotate(310deg) brightness(89%) contrast(91%);
}


.btn_modal_close{
	background:#eaeaea;

	&:hover{
		background:#d0d0d0;  
	}

	&:focus{
		-webkit-box-shadow: 0 0 0 0.2rem rgba(234,234,234,0.25);
		box-shadow: 0 0 0 0.2rem rgba(234,234,234,0.25);
	}  

}

.border-sucess{
  border:1px solid #8af953;
}