		<label class="form-control-label">Tempo Expiração</label>
		<select id="tempo_expiracao_trader_escolha" class="custom-select tempo_expiracao_trader_escolha" name="expiracao">

			<option selected value="0" disabled>---Selecione---</option>
			<option value="1">1M</option>
			<option value="5">5M</option>
			<option value="15">15M</option>

		</select>