	<label class="form-control-label">Tempo Expiração</label>
	<select id="tempo_expiracao_trader_escolha" class="custom-select tempo_expiracao_trader_escolha" name="expiracao">
		<option selected value="0" disabled>---Selecione---</option>
		<option value="1">+1</option>
		<option value="2">+2</option>
		<option value="3">+3</option>
		<option value="4">+4</option>
		<option value="5">+5</option>

	</select>


