							<div class="block-body">
								<div class="form-group">
									<label class="form-control-label">Email corretora</label>
									<input type="email" placeholder="exemplo@exemplo.com" class="form-control input-text-email-senha" name="email">
								</div>

								<div class="form-group">       
									<label class="form-control-label">Senha corretora</label>
									<input type="password" placeholder="**********" class="form-control input-text-email-senha" name="senha" placeholder="Senha">
								</div>

								<div class="form-group">       
									<button data-href="/sistema/testar-conexao/" title="Testar Conexão" type="submit" class="btn ajax-submit-timer btn-primary" id="testar_conexao" data-conect_teste='teste' data-action="/sistema">Testar Conexão</button>
								</div>

							</div>