<%- include('../includes/menu_header'); %>

<div class="page-content">
	<div class="page-header">
		<div class="container-fluid">
			<h2 class="h5 no-margin-bottom">Suporte</h2>
		</div>
	</div>


	<section class="no-padding-bottom">
		<div class="container-fluid">

			<div class="public-user-block block">
				<div class="row d-flex align-items-center">                   
					<div class="col-lg-4 d-flex align-items-center">
						<div class="avatar"> </div><strong class="d-block">Precisa de suporte?</strong>
					</div>
					<div class="col-lg-7 text-center">
						<a target="_blank" href="https://www.hotmart.com/pt-BR" class="btn btn-primary w80">Entrar em contato</a>
					</div>
				</div>
			</div>

		</div>
	</section>

</div>






