<%- include('../includes/menu_header'); %>

<div class="page-content">
	<div class="page-header">
		<div class="container-fluid">
			<h2 class="h5 no-margin-bottom">Ajuda / Tutoriais</h2>
		</div>
	</div>

	<section class="no-padding-bottom">
		<div class="container-fluid">
			<div class="public-user-block block">
				<div class="block margin-bottom-sm">
					<div class="table-responsive"> 
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Conteúdo</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>A plataforma</td>
									<td>
										<div class="block-body text-center">
											<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Iniciar</button>
											<!-- Modal-->
											<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
												<div role="document" class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Iniciando na plataforma</strong>
															<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
														</div>
														<div class="modal-body">
															<p>Inicie o vídeo abaixo para aprender o conteúdo</p>

															<video width="100%" height="auto" controls="">
																<source src="movie.mp4" type="video/mp4">
																	<source src="movie.ogg" type="video/ogg">
																		Your browser does not support the video tag.
																	</video>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-primary" data-dismiss="modal">Concluir</button>
																</div>
															</div>
														</div>
													</div>
												</div> 
											</td>
										</tr>


										<tr>
											<td>Suporte / Ajuda</td>
											<td> <div class="block-body text-center">
												<button type="button" data-toggle="modal" data-target="#myModal2" class="btn btn-primary">Iniciar</button>
												<!-- Modal-->
												<div id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
													<div role="document" class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Signin Modal</strong>
																<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
															</div>
															<div class="modal-body">
																<p>Lorem ipsum dolor sit amet consectetur.</p>
																<form>
																	<div class="form-group">
																		<label>Email</label>
																		<input type="email" placeholder="Email Address" class="form-control">
																	</div>
																	<div class="form-group">       
																		<label>Password</label>
																		<input type="password" placeholder="Password" class="form-control">
																	</div>
																	<div class="form-group">       
																		<input type="submit" value="Signin" class="btn btn-primary">
																	</div>
																</form>
															</div>
															<div class="modal-footer">
																<button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
																<button type="button" class="btn btn-primary">Save changes</button>
															</div>
														</div>
													</div>
												</div>
											</div></td>
										</tr>


										<tr>
											<td>Como recarregar</td>
											<td> <div class="block-body text-center">
												<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Iniciar</button>
												<!-- Modal-->
												<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
													<div role="document" class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Iniciando na plataforma</strong>
																<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
															</div>
															<div class="modal-body">
																<p>Lorem ipsum dolor sit amet consectetur.</p>

																<video width="100%" height="auto" controls="">
																	<source src="movie.mp4" type="video/mp4">
																		<source src="movie.ogg" type="video/ogg">
																			Your browser does not support the video tag.
																		</video>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-primary" data-dismiss="modal">Concluir</button>
																	</div>
																</div>
															</div>
														</div>
													</div> </td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</section>




					<section class="no-padding-bottom">
						<div class="container-fluid">

							<div class="public-user-block block">
								<div class="row d-flex align-items-center">                   
									<div class="col-lg-4 d-flex align-items-center">
										<div class="avatar"> </div><strong class="d-block">Precisa de suporte?</strong>
									</div>
									<div class="col-lg-7 text-center">
										<a target="_blank" href="https://www.hotmart.com/pt-BR" class="btn btn-primary w80">Entrar em contato</a>
									</div>
								</div>
							</div>

						</div>
					</section>

				</div>






