<%- include('../includes/menu_header'); %>

<div class="page-content">
	<div class="page-header">
		<div class="container-fluid">
			<h2 class="h5 no-margin-bottom">Recarregar</h2>
		</div>
	</div>

	<% if(data.config_sistema[0].possui_creditos == true){%>


	<section class="no-padding-bottom">
		<div class="container-fluid">

			<div class="row d-flex align-items-center">
				<div class="col-lg-12">   
					<div class="block">
						<div class="title">
							<strong class="d-block">Recarregar Créditos</strong>
						</div>

						<div class="block-body public-user-block">
							<div class="row">
								<div class="col-lg-5">
									<strong>Saldo atual: <div class="contributions">S$ <%= data[usuario.id +'_licenca_user'].creditos %></div>
									</strong>
								</div>
								<div class="col-lg-7">Precisa de saldo? Selecione uma das opções abaixo para recarregar.</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</section>

	

	<section class="no-padding-bottom">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4">
					<div class="user-block block text-center">
						<img src="/public/images/coins.png" class="img-fluid margin-b-20 w30">
						<div class="user-title">
							<h3 class="h5">R$ 50,00</h3>
							<span>de créditos</span>
						</div>
						<br>
						<a href="https://www.hotmart.com/pt-BR" target="_blank" class="btn btn-primary w80">Adquirir</a>

					</div>
				</div>
				<div class="col-lg-4">
					<div class="user-block block text-center">
						<img src="/public/images/coins.png" class="img-fluid margin-b-20 w30">
						<div class="user-title">
							<h3 class="h5">R$ 100,00</h3>
							<span>de créditos</span>
						</div>
						<br>
						<a href="https://www.hotmart.com/pt-BR" target="_blank" class="btn btn-primary w80">Adquirir</a>

					</div>
				</div>
				<div class="col-lg-4">
					<div class="user-block block text-center">
						<img src="/public/images/coins.png" class="img-fluid margin-b-20 w30">
						<div class="user-title">
							<h3 class="h5">R$ 200,00</h3>
							<span>de créditos</span>
						</div>
						<br>
						<a href="https://www.hotmart.com/pt-BR" target="_blank" class="btn btn-primary w80">Adquirir</a>

					</div>
				</div>
			</div>

		</div>
	</section>

	<% } %>

	<section class="no-padding-bottom">
		<div class="container-fluid">

			<div class="row d-flex align-items-center">
				<div class="col-lg-12">   
					<div class="block">
						<div class="title">
							<strong class="d-block">Recarregar Licença</strong>
						</div>

						<div class="block-body public-user-block">
							<div class="row">
								<div class="col-lg-5">
									<strong>Dias de Licença restante: <div class="contributions"><%= data[usuario.id +'_licenca_user_dias'] > 0 ? data[usuario.id +'_licenca_user_dias'] : 'Expirada'%></div>
									</strong>
								</div>
								<div class="col-lg-7">Licença acabando? Selecione uma das opções abaixo para recarregar a licença.</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="no-padding-bottom">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4">
					<div class="user-block block text-center">
						<div class="row d-flex align-items-center justify-content-between">
							<div class="col-lg-5 mb-2">
								<h3 class="h5">1 mês</h3>
							</div>
							<div class="col-lg-7 mb-2">								
								<a href="https://www.hotmart.com/pt-BR" target="_blank" class="btn btn-primary w80">Adquirir</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4">
					<div class="user-block block text-center">
						<div class="row d-flex align-items-center justify-content-between">
							<div class="col-lg-5 mb-2">
								<h3 class="h5">3 meses</h3>
							</div>
							<div class="col-lg-7 mb-2">								
								<a href="https://www.hotmart.com/pt-BR" target="_blank" class="btn btn-primary w80">Adquirir</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="user-block block text-center">
						<div class="row d-flex align-items-center justify-content-between">
							<div class="col-lg-5 mb-2">
								<h3 class="h5">6 meses</h3>
							</div>
							<div class="col-lg-7 mb-2">								
								<a href="https://www.hotmart.com/pt-BR" target="_blank" class="btn btn-primary w80">Adquirir</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>



</div>
