<%- include('../includes/menu_header'); %>
<div class="container">
	<div class="main-page col-sm-12 col-md-11">

		<div class="row margin-t-10">
			<div class="col col-sm-12">
				<div class="card padding-20">
					<div class="f25 black-text border-bottom-grey">Recarga</div>

					<div class="f25 grey-text text-center margin-t-10">
						<span class="hide-on-med">Saldo atual de $$<%= data.licenca_user.creditos %></span>

						<span class="hide-on-small">Você atualmente tem $$<%= data.licenca_user.creditos %>. Precisa recarregar? Selecione uma das opções abaixo:</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-4 margin-t-10">
				<a class="w100 block recarga-link" href="https://www.hotmart.com/search" target="_blank">
					<div class="card vh50 box-shadow-green flex-align-center justify-content-center">
						<div class="grey-text f50 text-center">50</div>
						<div class="f24 grey-text text-center">créditos</div>

						<div class="text-center margin-t-10 margin-b-10">
							<i class="fas fa-coins f30 grey-text"></i>
						</div>

					</div>
				</a>
			</div>

			<div class="col-sm-12 col-md-4 margin-t-10">
				<a class="w100 block recarga-link" href="https://www.hotmart.com/search" target="_blank">
					<div class="card vh50 box-shadow-green flex-align-center justify-content-center">
						<div class="grey-text f50 text-center">100</div>
						<div class="f24 grey-text text-center">créditos</div>

						<div class="text-center margin-t-10 margin-b-10">
							<i class="fas fa-coins f30 grey-text"></i><i class="fas fa-coins f30 grey-text"></i>
						</div>

					</div>
				</a>
			</div>

			<div class="col-sm-12 col-md-4 margin-t-10">
				<a class="w100 block recarga-link" href="https://www.hotmart.com/search" target="_blank">
					<div class="card vh50 box-shadow-green flex-align-center justify-content-center">
						<div class="grey-text f50 text-center">200</div>
						<div class="f24 grey-text text-center">créditos</div>

						<div class="text-center margin-t-10 margin-b-10">
							<i class="fas fa-coins f30 grey-text"></i>
							<i class="fas fa-coins f30 grey-text"></i>
							<i class="fas fa-coins f30 grey-text"></i>
						</div>

					</div>
				</a>
			</div>
		</div>

	</div>

</div>
