<option selected value="0" disabled>---Selecione---</option>
<option>AUDCAD</option>
<option>AUDCHF</option>
<option>AUDJPY</option>
<option>AUDNZD</option>
<option>AUDUSD</option>
<option>CADCHF</option>
<option>CADJPY</option>
<option>CHFJPY</option>
<option>EURAUD</option>
<option>EURCAD</option>
<option>EURCHF</option>
<option>EURNZD</option>
<option>EURUSD</option>
<option>GBPJPY</option>
<option>GBPUSD</option>
<option>NZDCAD</option>
<option>NZDCHF</option>
<option>NZDJPY</option>
<option>NZDUSD</option>
<option>USDCAD</option>
<option>USDCHF</option>
<option>USDJPY</option>