<option selected value="0" disabled>---Selecione---</option>
<option>AUDCAD</option>
<option value="AUDCAD-OTC">AUDCAD (OTC)</option>
<option>AUDCHF</option>
<option>AUDJPY</option>
<option>AUDNZD</option>
<option>AUDUSD</option>
<option>CADCHF</option>
<option>CADJPY</option>
<option>CHFJPY</option>
<option>EURAUD</option>
<option>EURCAD</option>
<option>EURGBP</option>
<option value="EURGBP-OTC">EURGBP (OTC)</option>
<option>EURJPY</option>
<option value="EURJPY-OTC">EURJPY (OTC)</option>
<option>EURNZD</option>
<option>EURUSD</option>
<option value="EURUSD-OTC">EURUSD (OTC)</option>
<option>GBPAUD</option>
<option>GBPCAD</option>
<option>GBPCHF</option>
<option>GBPJPY</option>
<option value="GBPJPY-OTC">GBPJPY (OTC)</option>
<option>GBPNZD</option>
<option>GBPUSD</option>
<option value="GBPUSD-OTC">GBPUSD (OTC)</option>
<option>NZDUSD</option>
<option value="NZDUSD-OTC">NZDUSD (OTC)</option>
<option>USDCAD</option>
<option>USDCHF</option>
<option value="USDCHF-OTC">USDCHF (OTC)</option>
<option>USDJPY</option>
<option value="USDJPY-OTC">USDJPY (OTC)</option>
<option>USDNOK</option>